{
  "name": "cleaning",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/custom.scss",
      "imports": [
        "css/inc/_mixins.scss",
        "css/inc/_vars.scss",
        "css/inc/_slider.scss",
        "css/inc/_bootstrap.scss",
        "css/inc/_gform.scss",
        "css/inc/_support.scss"
      ]
    },
    {
      "path": "css/media-screens.scss",
      "imports": [
        "css/inc/_mixins.scss",
        "css/inc/_vars.scss",
        "css/inc/_support.scss"
      ]
    },
    {
      "path": "css/inc/_mixins.scss",
      "imports": [
        "css/inc/_support.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://cleaning/"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/cleaning/wp-content/themes/bootstrap4/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "developers-lair.cloud",
      "port": 21,
      "user": "developer@developers-lair.cloud",
      "password": "j3Y94h152535"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "css/media-screens.scss",
        "ctime": "2018-12-08T11:32:21.683Z",
        "mtime": "2018-12-08T11:32:21.642Z",
        "size": 12758
      },
      {
        "file": "css/media-screens.css",
        "ctime": "2018-12-08T11:32:21.915Z",
        "mtime": "2018-12-08T11:32:21.915Z",
        "size": 14181
      },
      {
        "file": "templates/template-home.php",
        "ctime": "2018-12-09T12:41:28.966Z",
        "mtime": "2018-12-09T12:41:28.885Z",
        "size": 5677
      },
      {
        "file": "footer.php",
        "ctime": "2018-12-03T03:15:20.347Z",
        "mtime": "2018-12-03T03:15:20.301Z",
        "size": 1520
      },
      {
        "file": "css/custom.scss",
        "ctime": "2018-12-08T11:19:14.377Z",
        "mtime": "2018-12-08T11:19:14.279Z",
        "size": 16844
      },
      {
        "file": "css/custom.css",
        "ctime": "2018-12-08T11:19:14.644Z",
        "mtime": "2018-12-08T11:19:14.644Z",
        "size": 29783
      },
      {
        "file": "functions.php",
        "ctime": "2018-12-08T11:14:20.608Z",
        "mtime": "2018-12-08T11:14:20.511Z",
        "size": 25885
      },
      {
        "file": "header.php",
        "ctime": "2018-12-08T10:42:07.073Z",
        "mtime": "2018-12-08T10:42:07.038Z",
        "size": 1993
      },
      {
        "file": "js/global.js",
        "ctime": "2018-12-09T12:32:23.720Z",
        "mtime": "2018-12-09T12:32:23.678Z",
        "size": 10148
      },
      {
        "file": "templates/template-feedbacks.php",
        "ctime": "2018-12-08T10:08:09.788Z",
        "mtime": "2018-12-08T10:08:09.788Z",
        "size": 0
      },
      {
        "file": "css/inc/_gform.scss",
        "ctime": "2018-12-03T03:00:00.781Z",
        "mtime": "2018-12-03T03:00:00.750Z",
        "size": 5816
      },
      {
        "file": "templates/template-services.php",
        "ctime": "2018-12-09T13:13:20.868Z",
        "mtime": "2018-12-09T13:13:20.812Z",
        "size": 1499
      },
      {
        "file": "templates/template-calendar.php",
        "ctime": "2018-12-08T10:08:09.650Z",
        "mtime": "2018-12-08T10:08:09.650Z",
        "size": 0
      },
      {
        "file": "templates/template-results.php",
        "ctime": "2018-12-09T13:51:35.291Z",
        "mtime": "2018-12-09T13:51:35.201Z",
        "size": 3715
      },
      {
        "file": "js/loadmore.js",
        "ctime": "2018-12-08T10:08:06.782Z",
        "mtime": "2018-12-08T10:08:06.782Z",
        "size": 1196
      },
      {
        "file": "404.php",
        "ctime": "2018-12-08T10:07:55.666Z",
        "mtime": "2018-12-08T10:07:55.666Z",
        "size": 589
      },
      {
        "file": "comments.php",
        "ctime": "2018-12-08T10:07:55.844Z",
        "mtime": "2018-12-08T10:07:55.844Z",
        "size": 1297
      },
      {
        "file": "images/404.png",
        "ctime": "2018-12-08T10:08:01.680Z",
        "mtime": "2018-12-08T10:08:01.680Z",
        "size": 52383
      },
      {
        "file": "css/inc/_slider.scss",
        "ctime": "2018-12-08T10:07:57.790Z",
        "mtime": "2018-12-08T10:07:57.790Z",
        "size": 1191
      },
      {
        "file": "css/plugins/jquery.fancybox.v2.css",
        "ctime": "2018-12-08T10:07:58.714Z",
        "mtime": "2018-12-08T10:07:58.714Z",
        "size": 4041
      },
      {
        "file": "images/fancybox/fancybox_overlay.png",
        "ctime": "2018-12-08T10:08:02.585Z",
        "mtime": "2018-12-08T10:08:02.585Z",
        "size": 0
      },
      {
        "file": "images/fancybox/fancybox_sprite.png",
        "ctime": "2018-12-08T10:08:02.706Z",
        "mtime": "2018-12-08T10:08:02.706Z",
        "size": 0
      },
      {
        "file": "images/grabbing.png",
        "ctime": "2018-12-08T10:08:02.964Z",
        "mtime": "2018-12-08T10:08:02.964Z",
        "size": 0
      },
      {
        "file": "images/icon-image.png",
        "ctime": "2018-12-08T10:08:03.196Z",
        "mtime": "2018-12-08T10:08:03.196Z",
        "size": 668
      },
      {
        "file": "images/fancybox/fancybox_sprite@2x.png",
        "ctime": "2018-12-08T10:08:02.842Z",
        "mtime": "2018-12-08T10:08:02.842Z",
        "size": 0
      },
      {
        "file": "images/placeholder.jpg",
        "ctime": "2018-12-08T10:08:03.674Z",
        "mtime": "2018-12-08T10:08:03.674Z",
        "size": 74102
      },
      {
        "file": "images/sofa.png",
        "ctime": "2018-12-08T10:08:04.146Z",
        "mtime": "2018-12-08T10:08:04.146Z",
        "size": 70846
      },
      {
        "file": "images/sofa1.png",
        "ctime": "2018-12-08T10:08:04.181Z",
        "mtime": "2018-12-08T10:08:04.181Z",
        "size": 8192
      },
      {
        "file": "images/sofa2.png",
        "ctime": "2018-12-08T10:08:04.346Z",
        "mtime": "2018-12-08T10:08:04.346Z",
        "size": 0
      },
      {
        "file": "inc/class-bootstrap-navigation.php",
        "ctime": "2018-12-08T10:08:04.514Z",
        "mtime": "2018-12-08T10:08:04.514Z",
        "size": 0
      },
      {
        "file": "inc/class-dynamic-admin.php",
        "ctime": "2018-12-08T10:08:04.670Z",
        "mtime": "2018-12-08T10:08:04.670Z",
        "size": 0
      },
      {
        "file": "inc/class-tgm-plugin-activation.php",
        "ctime": "2018-12-08T10:08:04.847Z",
        "mtime": "2018-12-08T10:08:04.847Z",
        "size": 0
      },
      {
        "file": "inc/custom-fields-search.php",
        "ctime": "2018-12-08T10:08:05.220Z",
        "mtime": "2018-12-08T10:08:05.220Z",
        "size": 0
      },
      {
        "file": "index.php",
        "ctime": "2018-12-08T10:08:06.269Z",
        "mtime": "2018-12-08T10:08:06.269Z",
        "size": 784
      },
      {
        "file": "inc/helpers.php",
        "ctime": "2018-12-08T10:08:05.377Z",
        "mtime": "2018-12-08T10:08:05.377Z",
        "size": 0
      },
      {
        "file": "inc/home-slider.php",
        "ctime": "2018-12-08T10:08:05.548Z",
        "mtime": "2018-12-08T10:08:05.548Z",
        "size": 0
      },
      {
        "file": "inc/recommended-plugins.php",
        "ctime": "2018-12-08T10:08:05.726Z",
        "mtime": "2018-12-08T10:08:05.726Z",
        "size": 0
      },
      {
        "file": "inc/shortcodes.php",
        "ctime": "2018-12-08T10:08:05.978Z",
        "mtime": "2018-12-08T10:08:05.978Z",
        "size": 474
      },
      {
        "file": "inc/svg-support.php",
        "ctime": "2018-12-08T10:08:06.117Z",
        "mtime": "2018-12-08T10:08:06.117Z",
        "size": 2159
      },
      {
        "file": "page.php",
        "ctime": "2018-12-08T10:08:08.038Z",
        "mtime": "2018-12-08T10:08:08.038Z",
        "size": 0
      },
      {
        "file": "screenshot.png",
        "ctime": "2018-12-08T10:08:08.925Z",
        "mtime": "2018-12-08T10:08:08.925Z",
        "size": 122056
      },
      {
        "file": "search.php",
        "ctime": "2018-12-08T10:08:09.078Z",
        "mtime": "2018-12-08T10:08:09.078Z",
        "size": 969
      },
      {
        "file": "searchform.php",
        "ctime": "2018-12-08T10:08:09.107Z",
        "mtime": "2018-12-08T10:08:09.107Z",
        "size": 0
      },
      {
        "file": "sidebar-right.php",
        "ctime": "2018-12-08T10:08:09.259Z",
        "mtime": "2018-12-08T10:08:09.259Z",
        "size": 0
      },
      {
        "file": "single.php",
        "ctime": "2018-12-08T10:08:09.489Z",
        "mtime": "2018-12-08T10:08:09.489Z",
        "size": 1249
      },
      {
        "file": "js/plugins/jquery.fancybox.v2.js",
        "ctime": "2018-12-08T10:08:06.811Z",
        "mtime": "2018-12-08T10:08:06.811Z",
        "size": 0
      },
      {
        "file": "style.css",
        "ctime": "2018-12-08T10:08:09.619Z",
        "mtime": "2018-12-08T10:08:09.619Z",
        "size": 80
      },
      {
        "file": "parts/loop-post.php",
        "ctime": "2018-12-08T10:08:08.292Z",
        "mtime": "2018-12-08T10:08:08.292Z",
        "size": 1049
      },
      {
        "file": "js/plugins/jquery.fancybox.v3.js",
        "ctime": "2018-12-08T10:08:07.017Z",
        "mtime": "2018-12-08T10:08:07.017Z",
        "size": 0
      },
      {
        "file": "js/plugins/jquery.magnific-popup.js",
        "ctime": "2018-12-08T10:08:07.279Z",
        "mtime": "2018-12-08T10:08:07.279Z",
        "size": 0
      },
      {
        "file": "js/plugins/jquery.magnific-popup.min.js",
        "ctime": "2018-12-08T10:08:07.491Z",
        "mtime": "2018-12-08T10:08:07.491Z",
        "size": 0
      },
      {
        "file": "wow_examples.php",
        "ctime": "2018-12-08T10:08:10.658Z",
        "mtime": "2018-12-08T10:08:10.658Z",
        "size": 30737
      },
      {
        "file": "js/plugins/jquery.matchHeight-min.js",
        "ctime": "2018-12-08T10:08:07.693Z",
        "mtime": "2018-12-08T10:08:07.693Z",
        "size": 0
      },
      {
        "file": "js/plugins/slick.min.js",
        "ctime": "2018-12-08T10:08:07.839Z",
        "mtime": "2018-12-08T10:08:07.839Z",
        "size": 0
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}